/* src/app/globals.css */
@import "tailwindcss";

@import "@uiw/react-md-editor/markdown-editor.css";
@import "@uiw/react-markdown-preview/markdown.css";

/* База: белый фон, чёрный основной текст, серые подсказки */
:root {
    color-scheme: light;
}

html, body {
    height: 100%;
}

body {
    background: #fff;
    color: #0a0a0a; /* близко к neutral-950 */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
